body {
    background-image: url("newyork.jpg");
    height: 50%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #282828;
}

.background {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom:200px;
    background-color: white;
    box-shadow: 0px 0px 31px -10px rgba(0,0,0,1);
}

.profilepic {
    width:500px; 
    height:500px; 
    border-radius: 50%;
    display:block;
    margin: 50px auto 0 auto;
    object-fit: cover;
}
.profile{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap;
}

.profileleft {
    flex: 1;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    align-content: center;
}

.profilemid {
    flex: 2;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-left: 0px solid grey;
    border-right: 0px solid grey;
}

.aboutme {
    font-family: 'PT Sans', sans-serif;
    text-align: justify;
    font-size: 25px;
    color: rgb(32, 25, 24);
}

.profileright {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    flex: 1;
    flex-wrap: wrap;
}

.name {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    color: #141414;
    text-align: center;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #141414;
    text-align: center;
}

.welcome {
    font-family: 'Abril Fatface', cursive;
    font-size: 110px;
    text-align: center;
    color: white;
    margin-top: 600px;
    margin-bottom: -100px;
}

.lookaround {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 300px;
}

.iconcontainer {
    display: flex;
    flex: 50%;
    flex-direction: row;
    justify-content: space-around;
}

.icons {
    height: 75px;
    width: 75px;
    border-radius: 0%;
}

@media(min-width:1100px){
    .profilepic {
        width:300px; 
        height:300px; 
        border-radius: 50%;
        display:block;
        margin: 20px auto 0 auto;
    }
    
    .background {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 150px;
        margin-bottom:150px;
        background-color: white;
        box-shadow: 0px 0px 31px -10px rgba(0,0,0,1);
    }

    .profile{
        display: flex;
        flex-direction: row;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .profileleft {
        flex: 2;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
        text-align: center;
    }
    
    .profilemid {
        flex: 3;
        flex-wrap: wrap;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-left: 2px solid grey;
        border-right: 2px solid grey;
        border-top: 0px solid grey;
        border-bottom: 0px solid grey;
    }

    .aboutme {
        font-family: 'PT Sans', sans-serif;
        text-align: justify;
        font-size: 23px;
        color: rgb(32, 25, 24);
    }
    
    .profileright {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
        flex: 1;
        flex-wrap: wrap;
        width: 100%;
    }
    .name {
        font-family: 'Abril Fatface', cursive;
        font-size: 30px;
        color: #141414;
        text-align: center;
    }

    .title {
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        color: #141414;
        text-align: left;
        margin-top:-3px;
    }

    .welcome {
        font-family: 'Abril Fatface', cursive;
        font-size: 100px;
        text-align: center;
        color: white;
        margin-top: 300px;
        margin-bottom: 0px;
    }

    .lookaround {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        color: white;
        text-align: center;
        margin-bottom: 50px;
    }
    .iconcontainer {
        display: flex;
        flex: 50%;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .icons {
        height: 50px;
        width: 50px;
        border-radius: 0%;
        margin-left: 10px;
        margin-right:10px;
        margin-top:20px;
        margin-bottom:20px;
    }
}